<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button
            aria-label="Application Menu"
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">{{ appName }}
      <span class="app-name--build-number">({{ buildNumber }})</span>
    </h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav
                 mode="over"
                 opened
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">
      <mat-nav-list class="navigation-menu">
        <a mat-list-item routerLink="/"
           (click)="sidenav.close()">
          Home
        </a>
        <mat-divider></mat-divider>
        <a *ngFor="let forecastLocation of forecastLocationList$ | async"
           mat-list-item
           [routerLink]="['/forecast/', forecastLocation.id]"
           (click)="sidenav.close()">
          {{ forecastLocation.name }}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
