<mat-card class="forecast-placeholder">
  <mat-card-header>
    <mat-card-title>
      <span class="forecast-placeholder__text-placeholder"></span>
    </mat-card-title>
    <mat-card-subtitle>
      <span class="forecast-placeholder__text-placeholder"></span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="forecast-placeholder__detailed"></div>
    <div class="forecast-placeholder__short"></div>
<!--    <app-forecast-detailed  [forecast]="forecastCard?.currently"></app-forecast-detailed>-->
<!--    <div class="forecast-card__daily-container">-->
<!--      <app-forecast-short *ngFor="let forecast of forecastCard?.daily"-->
<!--                          class="forecast-card__daily"-->
<!--                          [forecast]="forecast"></app-forecast-short>-->
<!--    </div>-->
    <div class="forecast-placeholder__powered-by-link">
      <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
    </div>
  </mat-card-content>
</mat-card>
