.current-weather {
  display: flex;
  justify-content: center;
  align-items: center;

  &__visual {
    flex: 1 1 50%;
  }

  &__visual-summary {
    text-align: center;
    font-size: .9em;
  }

  &__visual-container {
    display: flex;
  }

  &__visual-icon {
    flex: 1 1 50%;
  }

  &__visual-temperature {
    flex: 1 1 50%;
    text-align: center;
    font-size: 3em;
  }


  &__details {
    flex: 1 1 50%;
    font-size: 1.25em;
  }

  &__details-label {
    color: #666;
  }
}

