:host {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 100% 0 0;

}

.icon {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-repeat: no-repeat;
  background-size: contain;

  &--clear-day {
    background-image: url(../../../../../assets/images/clear-day.svg);
  }

  &--clear-night {
    background-image: url(../../../../../assets/images/clear-night.svg);
  }

  &--cloudy {
    background-image: url(../../../../../assets/images/cloudy.svg);
  }

  &--fog {
    background-image: url(../../../../../assets/images/fog.svg);
  }

  &--partly-cloudy-day {
    background-image: url(../../../../../assets/images/partly-cloudy-day.svg);
  }

  &--partly-cloudy-night {
    background-image: url(../../../../../assets/images/partly-cloudy-night.svg);
  }

  &--rain {
    background-image: url(../../../../../assets/images/rain.svg);
  }

  &--sleet {
    background-image: url(../../../../../assets/images/sleet.svg);
  }

  &--snow {
    background-image: url(../../../../../assets/images/snow.svg);
  }

  &--thunderstorm {
    background-image: url(../../../../../assets/images/thunderstorm.svg);
  }

  &--tornado {
    background-image: url(../../../../../assets/images/tornado.svg);
  }

  &--wind {
    background-image: url(../../../../../assets/images/wind.svg);
  }
}
